# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'fitnesse'
      'submenu': [
        { 'label': 'Format', 'command': 'fitnesse:format' }
      ]
    ]
  }
]
'context-menu':
  'atom-text-editor': [
    {
      'label': 'FitNesse Format'
      'command': 'fitnesse:format'
    }
]
